*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(187, 203, 203);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  height: 30rem;
  width: 35rem;
  background-color: rgb(114, 124, 124);
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
box-shadow: 0px 4px 0px 0px #1c1b1b;
border-radius: 1rem;
padding: 2rem;
margin: 1rem;
position: relative;
}
#score{
    background-color: rgb(197, 68, 209);
    height: 1rem;
    width: 4rem;
    padding: 15px;
    box-shadow: 2px 2px #1c1b1b;
    position: absolute;
    left: 31.5rem;
}

#correct{
    position: absolute;
    left: 15rem;
    background-color:rgb(69, 213, 69) ;
    padding: 10px;
    box-shadow: #1c1b1b;
    border-radius: 0.5rem;
    display: none;

}
#wrong{
    position: absolute;
    left: 15rem;
    background-color: rgb(244, 72, 9);
    padding: 10px;
    border-radius: 0.5rem;
    display: none;
    
}
#question{
    width: 500px; ;
    height: 150px;
    margin: 4rem auto 1rem auto;
background-color: #fffcfc;
box-shadow: 4px 4px rgb(91, 80, 80);
color: #1c1b1b;
text-align: center;
font-size: 90px;
font-family: cursive;
}
.navigate{
    background-color: rgb(33, 202, 249);
    width: 250px;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: #0c0c0c;
    box-shadow: 4px 4px rgb(80, 71, 71);
}

.choice{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: baseline;
    margin: 25px auto;
    justify-content: space-between;

}
.box{
    width: 70px;
    height: 80px;
    background-color: #d876ed;
    cursor: pointer;
    box-shadow: 4px 4px #302c2c;
    text-align: center;
    line-height: 70px;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.box:hover , #startRestart:hover{
    background-color: white;
    color: #141212;
}
.box:active , #startRestart:active{
    box-shadow: 0px 0px white;
    top: 4px;
}

#startRestart{
    width: 90px;
    margin: 0 auto;
    background-color: #8e71bf;
    cursor: pointer;
    box-shadow: 4px 4px #3a3030;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    padding: 20px;
}
#time{
    width: 120px;
    background-color: rgb(75, 251, 251);
    padding: 10px;
    position: absolute;
    top: 470px;
    left: 450px;
    color: #302c2c;
    border-radius: 5px;
    box-shadow: 0px 4px rgb(102, 98, 98);
    /* visibility: hidden; */
    display: none;
}
#gameOver{
  background: linear-gradient(#F3CA6B,#F3706C);
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 200px;
  width: 550px;
  font-size: 2.5rem;
  position: absolute;
  top:150px;
  z-index: 2;
  line-height: 100px;
  display: none;
}



